<h1>VI HAR INNVILGET SØKNADEN DIN OM KONTANTSTØTTE</h1>
<p>Du får {{belop}} kroner i måneden fra {{dato}} fordi {{begrunnelse}}.</p>

<p>Kontantstøtten innvilges alltid fra måneden etter at vilkårene er oppfylt.
Kontantstøtten er skattefri.</p>

<p>Etterbetalingen fra [MÅNED] er [BELØP] kroner, som normalt vil være på kontoen
din innen en uke.</p>

<p>Fordi barnet ditt har {{antall_timer}} timer barnehageplass i uken, får du {{andel}} prosent
kontantstøtte.</p>
<p>
    Du kan lese om vilkårene for å ha rett til kontantstøtten på nav.no/kontantstøtte.
    Vedtaket er gjort etter kontantstøtteloven §§ {{kontantstotte_lov}}.
</p>
<h3>SLIK HAR VI BEREGNET KONTANTSTØTTEN DIN</h3>
<p>
    Kontantstøtte blir beregnet ut fra antall timer i uken barnet er tildelt barnehageplass.
    Satsene på kontantstøtte kan endre seg.
</p>

<h3>DU MÅ MELDE FRA OM ENDRINGER</h3>
<p>
    Dersom det skjer endringer som kan ha betydning for stønaden du får utbetalt, må
    du straks melde fra til NAV. Du finner mer informasjon på nav.no/rettogplikt.
</p>

<h3>DU HAR RETT TIL Å KLAGE</h3>
<p>
    Du kan klage innen tre uker fra den datoen du mottok vedtaket. Du finner skjema og
    informasjon på nav.no/klage.
</p>

<h3>DU HAR RETT TIL INNSYN</h3>
<p>På nav.no/dittnav kan du se dokumentene i saken din.</p>

<h3>SJEKK UTBETALINGENE DINE</h3>

<p>
    Du får utbetalt kontantstøtte siste virkedag i måneden. Sjekk alle utbetalingene du
    har mottatt på www.nav.no/dittnav. Her kan du også endre kontonummeret ditt.
</p>

<h3>HAR DU SPØRSMÅL?</h3>
<p>
    Du finner nyttig informasjon på nav.no/kontantstøtte. Du kan også kontakte oss på
    55 55 33 33.
</p>

<p>
    Med vennlig hilsen
    NAV Familie- og pensjonsytelser ENHET <br>
    {{saksbehandler}}
</p>

<p>
    Vedlegg:

    Orientering om rettigheter og plikter
</p>